/* 갤러리 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
}

#hhead {
    background-color: #f5f5f5;
    color: #b0c4de;
    padding: 20px;
    text-align: center;
}

#hhead h1 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hhead nav {
    float: right;
}

#hhead nav a {
    color: #b0c4de;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.1em;
}

#hhead nav a:hover {
    text-decoration: underline;
}

#gallery {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.club {
    background-color: #f5f5f5;
    border: 1px solid #b0c4de;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.club img {
    width: 100%;
    height: auto;
}

.club-info {
    padding: 10px 0;
    text-align: center;
}

.club-info h3 {
    margin: 10px 0 5px;
}

footer {
    background-color:    #f5f5f5;
    color: #b0c4de;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    transform: translateY(0%);
    
}
#wrapper{
    height: auto;
    min-height: 200px;
}
.space{
    margin-bottom: 100px;
}
/* 메인 스타일 */  
