body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#hhead {
    background-color: #f5f5f5;
    color: #b0c4de;
    padding: 20px;
    text-align: center;
}

#hhead h1 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hhead .logo {
    height: 40px; /* 로고 높이 설정 */
    margin-right: 15px; /* 로고와 제목 간격 */
}

#hhead nav {
    float: right;
}

#hhead nav a {
    color: #b0c4de;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.1em;
}

#hhead nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    max-width: 900px;
    margin: 0 auto; /* 중앙 정렬 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.grid-item {
    background-color: #d3ede6;
    border: 2px solid #333;
    border-radius: 45px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
    display: flex; /* 내부 콘텐츠 정렬을 위해 flex 사용 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item:hover {
    transform: scale(1.05)
}

.grid-item img {
    max-width: 100%;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.grid-item h2 {
    color: #ffffff;
    margin: 15px 0;
}

footer {
    background-color: #f5f5f5;
    color: #b0c4de;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#wrapper {
    height: auto;
    min-height: 200px;
}

.space {
    margin-bottom: 100px;
}
